---
title: Portfolio
layout: archive
<!-- layout: collection -->
permalink: /portfolio/
<!-- collection: portfolio -->
<!-- entries_layout: grid -->
classes: wide
---

<div class="page__content"><p><h3>Course Project</h3></p></div>
<div class="entries-grid">
    {% for post in site.course-project %}
        {% include archive-single.html type="grid" %}
    {% endfor %}
</div>

<div class="page__content"><p><h3>Private Project</h3></p></div>
<div class="entries-grid">
    {% for post in site.portfolio %}
        {% include archive-single.html type="grid" %}
    {% endfor %}
</div>