---
title: Portfolio
layout: archive
<!-- layout: collection -->
permalink: /portfolio/
<!-- collection: portfolio -->
<!-- entries_layout: grid -->
classes: wide
---
<!-- <div class="page__content"><h2 id="page-subtitle">Course Project</h2></div>
<div class="entries-grid">    
    {% for post in site.course-project %}
        {% include archive-single.html type="grid" %}
    {% endfor %}
</div>

<div class="page__content"><h2 id="page-subtitle">Private Project</h2></div> -->
<div class="entries-grid">
    {% for post in site.portfolio %}
        {% include archive-single.html type="grid" %}
    {% endfor %}
</div>