<figure class="{{ include.class }}">
  {% if include.url %}
  <a href="{{ include.img | relative_url }}"
      {% if include.title %}title="{{ include.title }}"{% endif %}>
      <img src="{{ include.img | relative_url }}"
          alt="{% if include.alt %}{{ include.alt }}{% endif %}"
          width="{% if include.width %}{{ include.width }}{% endif %}"
          height="{% if include.height %}{{ include.height }}{% endif %}" >
  </a>
  {% else %}
  <img src="{{ include.img | relative_url }}"
          alt="{% if include.alt %}{{ include.alt }}{% endif %}"
          width="{% if include.width %}{{ include.width }}{% endif %}"
          height="{% if include.height %}{{ include.height }}{% endif %}" >
  {% endif %}
  {% if include.caption %}
    <figcaption text-align: center;>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
  {% endif %}
</figure>