<figure class="{{ include.img_layout }} {{ include.class }}">
  {% if include.multiple %}
    {% for img in images %}
    <a href="{{ img | relative_url }}"
        {% if img.title %}title="{{ img.title }}"{% endif %}>
        <img src="{{ img | relative_url }}"
            alt="{% if img.alt %}{{ img.alt }}{% endif %}">
    </a>
    {% endfor %}
  {% endif %}
    {% if include.url %}
    <a href="{{ include.img | relative_url }}"
        {% if img.title %}title="{{ img.title }}"{% endif %}>
        <img src="{{ include.img | relative_url }}"
            alt="{% if img.alt %}{{ img.alt }}{% endif %}">
    </a>
    {% else %}
    <img src="{{ include.img | relative_url }}"
            alt="{% if img.alt %}{{ img.alt }}{% endif %}">
    {% endif %}
    {% if include.caption %}
      <figcaption>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
    {% endif %}
</figure>